@{
    ViewData["Title"] = "联系我";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>交流QQ群:</strong><a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=3f301fa3101d3201c391aba77803b523fcc53e59d0c68e6eeb9a79336c366d92">
        <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="ABP代码生成器交流群" title="ABP代码生成器交流群">
    </a><br/>

</address>
<address>
    <div class="" data-width="600" data-height="500">
        <img data-original-src="//upload-images.jianshu.io/upload_images/1979022-18becf16fe0084d8.png" data-original-width="600" data-original-height="500" data-original-format="image/png" data-original-filesize="150032" class="" style="cursor: zoom-in;" src="//upload-images.jianshu.io/upload_images/1979022-18becf16fe0084d8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/600">
    </div>
</address>